bin/
obj/
out/
history/
sp-debug/
sp-export/
.settings
.externalToolBuilders/
.spaceportBuildCache.database
html-template
playerProductInstall.swf
swfobject.js
Main.swf
Main.html
.bash_profile
.bash_profile.save
*.swf
*.ipa
*.apk
*.DS_STORE
.shake.database
Thumbs.db
